body{
    height: 1000px;
    background-position: center;
    background-size:cover;
}
.btn-warning{
    font-size: 20px  !important;
    width: 400px;
    border-radius: 30px !important;
    margin-bottom: 20px !important;
    background-image: linear-gradient(purple, violet, pink) !important;
    color: white;
}
h2{
    color: white;
}
#voltar{
    float: right;
    font-size: 20px;
    margin: 5px;
    background: black;
    color: white;
}
#voltar:hover{
    color: red !important;
}
.btn-info{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
canvas{
    border-radius: 10px;
}